/* HEADER */

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0.5rem 2rem;
  background-color: white;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header a {
  color: rgb(56, 56, 56);
  font-weight: 500;
  padding: 0.75rem 1rem;
  text-decoration: none;
  border-radius: 6px;
  font-family: Helvetica, sans-serif;
}

.header a:hover {
  color: #eb2092;
}

.header-center {
  flex: 1;
}

.logo {
  width: auto;
  height: auto;
  margin-right: 2rem;
}

body {
  background-color: #222222;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
}

/* MAIN */

.mesures {
  margin-top: 100px;
  padding: 20px;
  width: 35%;
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 300px;
}

h2 {
  font-size: 60px;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #eb2092;
  width: 700px;
}

p {
  font-size: 25px;
  width: 1900px;
  margin-right: 60px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}
h4 {
  font-size: 18px;
  width: 1900px;
  margin-right: 60px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}

button {
  background: linear-gradient(to right, #ff7dc6, #eb2092);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
  margin-bottom: 30px;
}

button:hover {
  background: #fff;
  color: #eb2092;
  background-position: 100%;
}

.img {
  display: flex;
}

.carjr {
  width: 500px;
  height: auto;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form{
  margin-left: 50px;
}
.tempjr {
  width: 700px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .mesures {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20x;
  }

  h2,
  p,
  h4 {
    width: 100%;
    margin-right: 0;
  }

  .carjr,
  .tempjr {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* FOOTER */

footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 1%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  overflow-x: hidden;
}

.footer-logo {
  display: flex;
  justify-content: center;
  height: 15px;
  margin-left: 30px;
}

.footer-cgu {
  border: none;
  color: rgb(126, 126, 126);
  cursor: pointer;
  font-size: 14px;
  padding-top: 4%;
  margin-right: 20px;
}
.seuil{
  margin-left: 40px;
}
.zut{
  margin-bottom: 50px;
}